In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('learningSet.csv')

In [3]:
df.isnull().sum()

ODATEDW       0
OSOURCE       0
TCODE         0
STATE         0
ZIP           0
           ...
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
CLUSTER2    132
GEOCODE2    132
Length: 481, dtype: int64

In [4]:

#save the columns with null values here
nulls = df[df.columns[df.isnull().any()]]
for column in nulls:
    print (column)

AGE
NUMCHLD
INCOME
WEALTH1
MBCRAFT
MBGARDEN
MBBOOKS
MBCOLECT
MAGFAML
MAGFEM
MAGMALE
PUBGARDN
PUBCULIN
PUBHLTH
PUBDOITY
PUBNEWFN
PUBPHOTO
PUBOPP
WEALTH2
MSA
ADI
DMA
ADATE_3
ADATE_4
ADATE_5
ADATE_6
ADATE_7
ADATE_8
ADATE_9
ADATE_10
ADATE_11
ADATE_12
ADATE_13
ADATE_14
ADATE_15
ADATE_16
ADATE_17
ADATE_18
ADATE_19
ADATE_20
ADATE_21
ADATE_22
ADATE_23
ADATE_24
RDATE_3
RDATE_4
RDATE_5
RDATE_6
RDATE_7
RDATE_8
RDATE_9
RDATE_10
RDATE_11
RDATE_12
RDATE_13
RDATE_14
RDATE_15
RDATE_16
RDATE_17
RDATE_18
RDATE_19
RDATE_20
RDATE_21
RDATE_22
RDATE_23
RDATE_24
RAMNT_3
RAMNT_4
RAMNT_5
RAMNT_6
RAMNT_7
RAMNT_8
RAMNT_9
RAMNT_10
RAMNT_11
RAMNT_12
RAMNT_13
RAMNT_14
RAMNT_15
RAMNT_16
RAMNT_17
RAMNT_18
RAMNT_19
RAMNT_20
RAMNT_21
RAMNT_22
RAMNT_23
RAMNT_24
NEXTDATE
TIMELAG
CLUSTER2
GEOCODE2

In [5]:
drop_list = df[['OSOURCE', 'ZIP']]

In [6]:
percent_missing = df.isnull().sum() * 100 / len(df)

columns_to_drop = percent_missing[percent_missing>=85].index.tolist()
columns_to_drop

['NUMCHLD',
 'RDATE_3',
 'RDATE_4',
 'RDATE_5',
 'RDATE_6',
 'RDATE_7',
 'RDATE_10',
 'RDATE_13',
 'RDATE_15',
 'RDATE_17',
 'RDATE_20',
 'RDATE_21',
 'RDATE_23',
 'RAMNT_3',
 'RAMNT_4',
 'RAMNT_5',
 'RAMNT_6',
 'RAMNT_7',
 'RAMNT_10',
 'RAMNT_13',
 'RAMNT_15',
 'RAMNT_17',
 'RAMNT_20',
 'RAMNT_21',
 'RAMNT_23']

In [7]:
clean_df = df.drop(columns = columns_to_drop)

In [8]:
print(clean_df['GENDER'].value_counts())
clean_df['GENDER'] = clean_df['GENDER'].fillna('F')

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [19]:
clean_df['GENDER'] = clean_df['GENDER'].apply(lambda x: x if x in ['M', 'F'] else 'Other')
# if x is not m or f we want it to be other